body {
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 40px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

button {
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
}
